@import '~bpk-mixins';
$blue : #00b2d6;

.Header {
  display: flex;
  padding: $bpk-spacing-sm;
  justify-content: space-between;
  align-items: center;
  background-color: $bpk-color-white;

  @include bpk-box-shadow-sm;

  &__hidden-text {
    @include bpk-visually-hidden;
  }

  &__logo-image {
    height: $bpk-spacing-base;
    vertical-align: top;
  }

  &__title {
    text-decoration:none;
    color: $blue;
    font-weight: bold
  }
}
